<%- include('partials/header') %>

<div class="container-form">
  <form action="/vote" method="GET">
      <h1>You have not casted your vote yet.</h1>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Vote here"> <br>
  </form>
</div>

<% include ('partials/footer') %>
